{% load static %}
<link rel="stylesheet" href="{% static 'Usuario/css/estilo.css' %}">
<script src="{% static 'Usuario/js/script.js' %}"></script>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Usuário - Navega Pará</title>
    <!-- Link com a versão atualizada para limpar o cache do navegador -->
    <link rel="stylesheet" href="{% static 'Usuario/css/estilo.css' %}?v=6">
    <script src="{% static 'Usuario/js/script.js' %}" defer></script>
</head>
<body>

<!-- Container centralizado padrão -->
<div class="caixa">

    <h1>{% if editando %}Editar Usuário{% else %}Cadastrar Usuário{% endif %}</h1>


    <form method="post">
        {% csrf_token %}

        <!-- CORRIGIDO: Mudado de formulario.as_p para form.as_p -->
        {{ form.as_p }}

        <button type="submit" class="btn-azul">Salvar</button>
    </form>

    <a href="{% url 'menu' %}" class="link-padrao">Voltar ao menu</a>
</div>

</body>
</html>