{% load static %}
<link rel="stylesheet" href="{% static 'Usuario/css/estilo.css' %}">
<script src="{% static 'Usuario/js/script.js' %}"></script>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Navega Pará</title>
    <link rel="stylesheet" href="{% static 'Usuario/css/estilo.css' %}">
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>
</body>
</html>


